@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html {
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("t.jpg");
  background-size: cover;
  background-position: center;
}

header {
  color: #edc058;
  font-size: 23px;
}

#description {
  font-size: 15px;
}

form {
  margin: 20px;
  text-align: left;
  color: #edc058;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.7);
}

input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 16px;
  margin: 15px 0;
  color: #c6a350;
  font-family: "Open Sans", sans-serif;
}

input::placeholder {
  opacity: 0;
}

.form-group {
  padding: 20px;
  margin-bottom: 0px;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  width: auto;
  margin: 0 15px 10px 0;
  cursor: pointer;
  background-color: transparent;
}

textarea {
  width: 100%;
  height: 100px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

textarea::placeholder {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

.clue {
  font-size: 10px;
}

select {
  width: 100%;
  height: 35px;
  font-family: "Open Sans", sans-serif;
  background: transparent;
  color: #c6a350;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  background-color: black;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="checkbox"]:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="checkbox"]:checked:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  background-color: black;
  content: "";
  display: inline-block;
  visibility: visible;
}

button {
  width: 100%;
  height: 45px;
  background-color: #edc058;
  border: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 460px) {
  html {
    font-size: 10px;
  }

  header {
    font-size: 15px;
    margin: 10px;
  }

  #description {
    font-size: 11px;
    margin: 10px;
  }

  form {
    margin: 15px;
    font-size: 12px;
  }
}
